::ng-deep {
  .cuentaMod {
    .modal-wrapper {
      height: 90%;
      position: absolute;
      bottom: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}

.containerSkeleton {
  ion-skeleton-text {
    margin: 0;
    height: 114px;
    border-radius: 5px;
    margin: 0;
  }
}

.sinInformacion {
  font-size: 25px;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
}
