<ion-content>
  <ion-grid fixed class="containerCuentas p-3">
    <ion-label class="fw-bold">Cuentas de {{estado}}</ion-label>
    <ion-row *ngIf="cuentasService?.objectLoading?.cuentas" class="mt-2">
      <ion-col
        size="12"
        class="p-0 containerSkeleton mb-2"
        *ngFor="let item of [1,1,1]"
      >
        <ion-skeleton-text animated class="shadow-sm"></ion-skeleton-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        class="sinInformacion mt-5"
        *ngIf="
        !cuentasService?.objectLoading?.cuentas && 
        cuentasService.objectListCuentas?.propias?.length == 0 && 
        cuentasService.objectListCuentas?.tercero?.length == 0"
      >
        <ion-label>No se encontró cuenta registrada a este usuario</ion-label>
      </ion-col>
      <ion-col
        size="12"
        class="p-0"
        *ngIf="cuentasService.objectListCuentas?.propias?.length > 0 && cuenta === 'propia'"
      >
        <ion-row *ngIf="!cuentasService?.objectLoading?.cuentas">
          <ion-col
            size="12"
            *ngFor="let item of cuentasService.objectListCuentas?.propias || []"
            (click)="onSeleccionarCuenta(item)"
          >
            <cuentaCardComp [informacion]="item"></cuentaCardComp>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col
        size="12"
        class="p-0"
        *ngIf="cuentasService.objectListCuentas?.tercero?.length > 0 && cuenta !== 'propia'"
      >
        <ion-row *ngIf="!cuentasService?.objectLoading?.cuentas">
          <ion-col
            size="12"
            *ngFor="let item of cuentasService.objectListCuentas?.tercero || []"
            (click)="onSeleccionarCuenta(item)"
          >
            <cuentaCardComp [informacion]="item"></cuentaCardComp>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
