<ion-content>
  <ion-grid fixed class="containerQr h-100 d-flex flex-column" *ngIf="!qrInfo">
    <ion-row class="px-3">
      <ion-col size="12" class="text-center fw-bold">
        <ion-label>Generar Qr de {{cuenta?.alias || ''}}</ion-label>
      </ion-col>
      <ion-col size="12" class="p-0">
        <ion-row>
          <!-- moneda -->
          <ion-col size="12" class="containerInput">
            <ion-row>
              <!-- icono & recordar -->
              <ion-col size="12" class="containerIconLabel">
                <div class="Iconlabel">
                  <ion-icon name="logo-usd"></ion-icon>
                  <ion-label class="ms-2">Moneda</ion-label>
                </div>
              </ion-col>
              <ion-col size="12" class="itemsInputs px-0">
                <ion-select
                  class="styleInput"
                  interface="action-sheet"
                  [ngClass]="{'styleInputInvalido':objectGenerarQr.isInvalido && !objectGenerarQr.moneda}"
                  [(ngModel)]="objectGenerarQr.moneda"
                >
                  <ion-select-option
                    *ngFor="let item of listMonedas || []"
                    [value]="item.id"
                    >{{item.label}}</ion-select-option
                  >
                </ion-select>
                <ion-label
                  color="danger"
                  class="styleInvalido"
                  *ngIf="objectGenerarQr.isInvalido && !objectGenerarQr.moneda"
                  >Ingresa la información solicitada</ion-label
                >
              </ion-col>
            </ion-row>
          </ion-col>

          <!-- Valor a Trasferir -->
          <ion-col size="12" class="containerInput">
            <ion-row>
              <!-- icono & recordar -->
              <ion-col size="12" class="containerIconLabel">
                <div class="Iconlabel">
                  <ion-icon name="card-outline"></ion-icon>
                  <ion-label class="ms-2">Valor a Trasferir</ion-label>
                </div>
              </ion-col>
              <ion-col size="12" class="itemsInputs px-0">
                <ion-input
                  class="styleInput"
                  inputmode="numeric"
                  [(ngModel)]="objectGenerarQr.valorTraf"
                  (ionChange)="changeValidarValorTrasferir($event)"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <div class="px-3 mb-2 mt-auto">
      <ion-button
        (click)="onGenerarQr(objectGenerarQr)"
        expand="block"
        shape="round"
      >
        Generar Qr
      </ion-button>
    </div>
  </ion-grid>

  <ion-grid fixed class="containerQr h-100 d-flex flex-column" *ngIf="qrInfo">
    <ion-row>
      <ion-col size="12" class="text-center">
        <qrcode
          [qrdata]="qrInfo"
          [width]="250"
          [errorCorrectionLevel]="'M'"
          colorLight="red"
          margin="0"
        ></qrcode>
      </ion-col>
      <ion-col size="12">
        <ion-button
          (click)="onAtras()"
          expand="block"
          shape="round"
          class="btnAtras"
        >
          Atras
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
