<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-row class="px-2">
      <ion-col size="2" class="containerRight infoCenter">
        <ion-icon
          name="arrow-back-outline"
          class="iconStyle"
          *ngIf="btnBack"
          (click)="onButtonBack()"
        ></ion-icon>
      </ion-col>
      <ion-col size="8" class="containerCenter infoCenter">
        <ion-label *ngIf="titulo">{{ titulo }}</ion-label>
      </ion-col>
      <ion-col size="2" class="containerLeft infoCenter justify-content-end">
        <ion-icon
          name="add-outline"
          class="iconStyle"
          *ngIf="btnTrasferencia"
          (click)="onCrearTrasferencia()"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
