.cuentaSeleccionada {
  height: 105px;
  --padding-end: 0;
  --padding-start: 0;
}

.cuentaSeleccionadaDestino {
  border: 1px solid var(--ion-color-dark);
  border-radius: 5px;

  .cuentaDestino {
    color: var(--ion-color-dark);
  }
}

.styleInvalidoButon {
  background: var(--ion-color-danger-tint);
  border: 1px solid var(--ion-color-danger);
  border-radius: 5px;
}
