<headerComp
  [btnBack]="true"
  [titulo]="'Transferir a cuenta '+cuenta"
></headerComp>

<ion-content>
  <ion-grid fixed class="containerTrasferencia px-3 py-2">
    <ion-row>
      <!-- Cuenta de origen -->
      <ion-col size="12" class="containerCuentOrigen">
        <ion-label class="fw-bold">Cuenta de origen</ion-label>
        <ion-button
          (click)="onSeleccionarCuenta('origen')"
          expand="block"
          fill="clear"
          class="mt-2 m-0"
          [ngClass]="{'cuentaSeleccionada': objectTrasferencia?.origen,'styleInvalidoButon':objectTrasferencia.isInvalido && !objectTrasferencia?.origen}"
        >
          <div *ngIf="!objectTrasferencia.origen">
            <ion-icon name="add-outline" class="me-2"></ion-icon>
            Seleccionar cuenta de origen
          </div>

          <div *ngIf="objectTrasferencia?.origen">
            <cuentaCardComp
              [informacion]="objectTrasferencia.origen"
            ></cuentaCardComp>
          </div>
        </ion-button>
      </ion-col>

      <!-- Cuenta de destino -->
      <ion-col size="12" class="containerCuentDestino mt-y">
        <ion-label class="fw-bold">Cuenta de destino</ion-label>
        <ion-button
          (click)="onSeleccionarCuenta('destino')"
          expand="block"
          fill="clear"
          class="mt-2 m-0"
          [disabled]="false"
          [ngClass]="{'cuentaSeleccionadaDestino': objectTrasferencia?.destino,'styleInvalidoButon':objectTrasferencia.isInvalido && !objectTrasferencia?.destino}"
          [disabled]="objectTrasferencia.qr"
        >
          <div *ngIf="!objectTrasferencia.destino">
            <ion-icon name="add-outline" class="me-2"></ion-icon>
            Seleccionar cuenta de destino
          </div>

          <div *ngIf="objectTrasferencia.destino" class="cuentaDestino">
            <ion-label>{{objectTrasferencia?.destino?.alias || ''}}</ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- moneda -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="logo-usd"></ion-icon>
              <ion-label class="ms-2">Moneda</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-select
              class="styleInput"
              interface="action-sheet"
              [ngClass]="{'styleInputInvalido':objectTrasferencia.isInvalido && !objectTrasferencia.moneda}"
              [(ngModel)]="objectTrasferencia.moneda"
              [disabled]="objectTrasferencia.qr"
            >
              <ion-select-option
                *ngFor="let item of listMonedas || []"
                [value]="item.id"
                >{{item.label}}</ion-select-option
              >
            </ion-select>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectTrasferencia.isInvalido && !objectTrasferencia.moneda"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- Valor a Trasferir -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="card-outline"></ion-icon>
              <ion-label class="ms-2">Valor a Trasferir</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-input
              class="styleInput"
              inputmode="numeric"
              [(ngModel)]="objectTrasferencia.valorTraf"
              (ionChange)="changeValidarValorTrasferir($event)"
              [disabled]="objectTrasferencia.qr"
              [ngClass]="{'styleInputInvalido':objectTrasferencia.isInvalido && !objectTrasferencia.valorTraf}"
            ></ion-input>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectTrasferencia.isInvalido && !objectTrasferencia.valorTraf"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- Descripcion-->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label class="ms-2">Descripción</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-textarea
              class="styleInput"
              [(ngModel)]="objectTrasferencia.descripcion"
            ></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="px-3 py-2 shadow">
    <ion-button
      expand="block"
      shape="round"
      (click)="onGenerarTransferencia(objectTrasferencia)"
    >
      Transferir
    </ion-button>
  </ion-toolbar>
</ion-footer>
