<headerComp [btnBack]="true" titulo="Agregar cuenta de tercero"></headerComp>

<ion-content>
  <ion-grid fixed class="containerFormulario px-3 py-3">
    <ion-row>
      <!-- alias -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="person-outline"></ion-icon>
              <ion-label class="fw-bold ms-2">Alias</ion-label>
            </div>
          </ion-col>
          <!-- tipo y identificacion -->
          <ion-col size="12" class="itemsInputs px-0">
            <ion-input
              class="styleInput"
              [ngClass]="{'styleInputInvalido':objectAgregar.isInvalido && !objectAgregar.alias}"
              [(ngModel)]="objectAgregar.alias"
            ></ion-input>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectAgregar.isInvalido && !objectAgregar.alias"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- entidad bancarias -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="business-outline"></ion-icon>
              <ion-label class="fw-bold ms-2">Entidad Bancaria</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-select
              class="styleInput"
              interface="action-sheet"
              [ngClass]="{'styleInputInvalido':objectAgregar.isInvalido && !objectAgregar.entidadBanc}"
              [(ngModel)]="objectAgregar.entidadBanc"
            >
              <ion-select-option
                *ngFor="let item of listSelects?.listEntidadBanc || []"
                [value]="item.id"
                >{{item.label}}</ion-select-option
              >
            </ion-select>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectAgregar.isInvalido && !objectAgregar.entidadBanc"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- tipo de cuenta -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="wallet-outline"></ion-icon>
              <ion-label class="fw-bold ms-2">Tipo de cuenta</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-select
              class="styleInput"
              interface="action-sheet"
              [ngClass]="{'styleInputInvalido':objectAgregar.isInvalido && !objectAgregar.tipoCuenta}"
              [(ngModel)]="objectAgregar.tipoCuenta"
            >
              <ion-select-option
                *ngFor="let item of listSelects?.listTipoCuentas || []"
                [value]="item.id"
                >{{item.label}}</ion-select-option
              >
            </ion-select>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectAgregar.isInvalido && !objectAgregar.tipoCuenta"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- numero de la cuenta -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="card-outline"></ion-icon>
              <ion-label class="fw-bold ms-2">Numero de la cuenta</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-input
              class="styleInput"
              inputmode="numeric"
              [ngClass]="{'styleInputInvalido': objectError.numCuenta || (objectAgregar.isInvalido && !objectAgregar.numCuenta)}"
              [(ngModel)]="objectAgregar.numCuenta"
              (ionChange)="changeValidarNumeroCuenta($event)"
            ></ion-input>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectError.numCuenta || (objectAgregar.isInvalido && !objectAgregar.numCuenta)"
            >
              {{objectError.numCuenta || 'Ingresa la información solicitada'}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- identificacion del titular de la cuenta -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="reader-outline"></ion-icon>
              <ion-label class="fw-bold ms-2"
                >Identificación del titular</ion-label
              >
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-input
              class="styleInput"
              inputmode="numeric"
              [ngClass]="{'styleInputInvalido': objectError.identificacion || (objectAgregar.isInvalido && !objectAgregar.identificacion)}"
              [(ngModel)]="objectAgregar.identificacion"
              (ionChange)="changeValidarIdentificacion($event)"
            ></ion-input>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectError.identificacion || (objectAgregar.isInvalido && !objectAgregar.identificacion)"
            >
              {{objectError.identificacion || 'Ingresa la información
              solicitada'}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- moneda -->
      <ion-col size="12" class="containerInput">
        <ion-row>
          <!-- icono & recordar -->
          <ion-col size="12" class="containerIconLabel">
            <div class="Iconlabel">
              <ion-icon name="logo-usd"></ion-icon>
              <ion-label class="fw-bold ms-2">Moneda</ion-label>
            </div>
          </ion-col>
          <ion-col size="12" class="itemsInputs px-0">
            <ion-select
              class="styleInput"
              interface="action-sheet"
              [ngClass]="{'styleInputInvalido':objectAgregar.isInvalido && !objectAgregar.moneda}"
              [(ngModel)]="objectAgregar.moneda"
            >
              <ion-select-option
                *ngFor="let item of listSelects?.listMonedas || []"
                [value]="item.id"
                >{{item.label}}</ion-select-option
              >
            </ion-select>
            <ion-label
              color="danger"
              class="styleInvalido"
              *ngIf="objectAgregar.isInvalido && !objectAgregar.moneda"
              >Ingresa la información solicitada</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="px-3 py-2 shadow">
    <ion-button
      expand="block"
      shape="round"
      (click)="onRegistrarCuenta(objectAgregar)"
    >
      Registrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
