.containerHeader {
  .containerLogo {
    .logo {
      height: 30px;
    }
  }

  .containerInfo {
    display: flex;
    flex-direction: column;
    line-height: 1;
    justify-content: center;

    .subtitulo {
      font-size: 10px;
    }

    .titulo {
      font-weight: bold;
      font-size: 17px;
    }
  }
}

.containerBody {
  .containerInformacion {
    background: var(--ion-color-secondary);
    height: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1.2;

    .titulo {
      font-size: 25px;
      font-weight: bold;
    }
  }
  // -------------------
  .containerListCuentas {
    margin-top: -50px;

    .containerSkeleton {
      ion-skeleton-text {
        margin: 0;
        height: 114px;
        border-radius: 5px;
        margin: 0;
      }
    }
  }
}

.sinInformacion {
  font-size: 25px;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
}
