<ion-header class="ion-no-border containerHeader">
  <ion-toolbar color="secondary">
    <ion-row class="p-2">
      <ion-col size="2" class="containerLogo">
        <ion-img src="/assets/images/logoColor.svg" class="logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="containerBody p-0">
    <ion-row>
      <ion-col size="12" class="containerInformacion px-3">
        <ion-label class="subtitulo">Hola</ion-label>
        <ion-label class="titulo">{{objectUsuario?.nombre || ''}}</ion-label>
      </ion-col>
      <ion-col size="12" class="containerListCuentas px-3">
        <ion-row *ngIf="cuentasService?.objectLoading?.cuentas">
          <ion-col
            size="12"
            class="p-0 containerSkeleton mb-2"
            *ngFor="let item of [1,1,1]"
          >
            <ion-skeleton-text animated class="shadow-sm"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            size="12"
            class="sinInformacion mt-5"
            *ngIf="
            !cuentasService?.objectLoading?.cuentas && 
            cuentasService.objectListCuentas?.propias?.length == 0 && 
            cuentasService.objectListCuentas?.tercero?.length == 0"
          >
            <ion-label
              >No se encontró cuenta registrada a este usuario</ion-label
            >
          </ion-col>
          <ion-col
            size="12"
            class="p-0"
            *ngIf="cuentasService.objectListCuentas?.propias?.length > 0"
          >
            <ion-label class="text-white">Cuentas propias</ion-label>
            <ion-row *ngIf="!cuentasService?.objectLoading?.cuentas">
              <ion-col
                size="12"
                *ngFor="let item of cuentasService.objectListCuentas?.propias || []"
                [routerLink]="['/detalleCuenta/'+item.id]"
              >
                <cuentaCardComp [informacion]="item"></cuentaCardComp>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col
            size="12"
            class="p-0"
            *ngIf="cuentasService.objectListCuentas?.tercero?.length > 0"
          >
            <ion-label
              [ngClass]="{'text-white': !cuentasService.objectListCuentas?.propias}"
              >Cuentas Tercero</ion-label
            >
            <ion-row *ngIf="!cuentasService?.objectLoading?.cuentas">
              <ion-col
                size="12"
                *ngFor="let item of cuentasService.objectListCuentas?.tercero || []"
                [routerLink]="['/detalleCuenta/'+item.id]"
              >
                <cuentaCardComp [informacion]="item"></cuentaCardComp>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
