<ion-content>
  <ion-grid fixed class="containerTransferencias p-3">
    <ion-label class="h4 fw-bold">Transferencias</ion-label>
    <ion-row class="mt-3">
      <ion-col size="12" class="p-0 mb-3" (click)="onNavegacion('propia')">
        <ion-card class="containerCard p-3 shadow-sm">
          <ion-icon
            name="swap-horizontal-outline"
            class="iconStar"
            color="primary"
          ></ion-icon>
          <div class="d-flex flex-column me-auto ms-3 containerInfo">
            <ion-label class="fw-bold">Cuentas propias</ion-label>
          </div>
          <ion-icon name="chevron-forward-outline" class="iconEnd"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="p-0" (click)="onNavegacion('tercero')">
        <ion-card class="containerCard p-3">
          <ion-icon
            class="iconStar"
            color="primary"
            name="repeat-outline"
          ></ion-icon>
          <div class="d-flex flex-column me-auto ms-3 containerInfo">
            <ion-label class="fw-bold">Cuentas de Terceros</ion-label>
          </div>
          <ion-icon name="chevron-forward-outline" class="iconEnd"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
