<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary" class="border-0 shadow-sm">
    <ion-tab-button (click)="onNavegacion('agregarCuentaT')">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onTransferencias()">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label>Transferencias</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onGenerarCrearQr()">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Qr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
