::ng-deep {
  .qrModal {
    .modal-wrapper {
      height: 230px;
      position: absolute;
      bottom: 0;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
  }
}

.containerQr {
  &::before {
    content: "";
    background: white;
    height: 6px;
    width: 50px;
    position: absolute;
    top: 8px;
    left: 45%;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .containerCard {
    margin: 0;
    display: flex;
    align-items: center;

    .iconStar {
      font-size: 25px;
    }
    .containerInfo {
      line-height: 1.2;
      .subtitulo {
        font-size: 10px;
      }
    }

    .iconEnd {
      font-size: 20px;
    }
  }
}
