<ion-content>
  <ion-grid fixed class="containerQr p-3">
    <ion-label class="h4 fw-bold">Código QR</ion-label>
    <ion-row class="mt-3">
      <ion-col size="12" class="p-0 mb-3">
        <ion-card class="containerCard p-3 shadow-sm" (click)="onScanearQr()">
          <ion-icon
            name="scan-outline"
            class="iconStar"
            color="primary"
          ></ion-icon>
          <div class="d-flex flex-column me-auto ms-3 containerInfo">
            <ion-label class="fw-bold">Escanear QR</ion-label>
            <ion-label class="subtitulo">Paga, usa o redime</ion-label>
          </div>
          <ion-icon name="chevron-forward-outline" class="iconEnd"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="p-0">
        <ion-card class="containerCard p-3" (click)="onGenerarQr()">
          <ion-icon
            name="qr-code-outline"
            class="iconStar"
            color="primary"
          ></ion-icon>
          <div class="d-flex flex-column me-auto ms-3 containerInfo">
            <ion-label class="fw-bold">Tu QR</ion-label>
            <ion-label class="subtitulo">Genera tu código</ion-label>
          </div>
          <ion-icon name="chevron-forward-outline" class="iconEnd"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
