// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0140A9;
  --ion-color-primary-rgb: 1,64,169;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #013895;
  --ion-color-primary-tint: #1a53b2;

  /** secondary **/
  --ion-color-secondary: #0070D0;
  --ion-color-secondary-rgb: 0,112,208;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0063b7;
  --ion-color-secondary-tint: #1a7ed5;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #CB5E6A;
  --ion-color-danger-rgb: 203,94,106;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b3535d;
  --ion-color-danger-tint: #FEE9E8;

  /** dark **/
  --ion-color-dark: #373737;
  --ion-color-dark-rgb: 55,55,55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #303030;
  --ion-color-dark-tint: #4b4b4b;

  /** medium **/
  --ion-color-medium: #F7F8FA;
  --ion-color-medium-rgb: 247,248,250;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d9dadc;
  --ion-color-medium-tint: #f8f9fb;

  /** light **/
  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #0140a9;
  --ion-color-light-contrast-rgb: 1,64,169;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}
