.containerSingIn {
  padding: 0;
  .containerLogo {
    background: var(--ion-color-secondary);
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 2.5rem;
    }
  }

  .containerBody {
    background: var(--ion-color-medium);
    height: 79vh;
    margin-top: -12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .containerFormulario {
      .containerInput {
        ion-item {
          --background: transparent;
          --background-hover: transparent;
          --min-height: 24px;
        }

        .containerIconLabel {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .Iconlabel {
            display: flex;
            align-items: center;
          }

          .olvidarClave {
            font-size: 13px;
            text-decoration: underline;
          }

          .recordarUsuario {
            ion-label {
              font-size: 12px;
            }

            ion-checkbox {
              width: 15px;
              height: 15px;
              --background: var(--ion-color-medium);
            }
          }
        }
      }
    }

    .containerAyudaVersion {
      .itemCard {
        margin: 0;
        display: flex;
        flex-direction: column;
        color: var(--ion-color-primary);

        ion-icon {
          font-size: 20px;
        }

        ion-label {
          text-align: initial;
          line-height: 1.2;
          font-weight: bold;
        }
      }
    }

    .version {
      font-size: 10px;
      color: var(--ion-color-dark);
    }
  }
}
