<ion-content class="contentLogin">
  <ion-grid fixed class="containerSingIn">
    <ion-row>
      <ion-col
        size="12"
        class="containerLogo animate__animated animate__fadeIn"
      >
        <ion-img src="/assets/images/logoColor.svg" class="logo mb-3"></ion-img>
      </ion-col>
      <ion-col
        size="12"
        class="
          containerBody
          bgMedium
          d-flex
          flex-column
          animate__animated animate__fadeInUp animate__faster
        "
      >
        <ion-row>
          <!-- formulario -->
          <ion-col size="12" class="containerFormulario">
            <ion-row>
              <!-- input identificacion -->
              <ion-col size="12" class="containerInput">
                <ion-row>
                  <!-- icono & recordar -->
                  <ion-col size="12" class="containerIconLabel">
                    <div class="Iconlabel">
                      <ion-icon name="person-outline"></ion-icon>
                      <ion-label class="fw-bold ms-2">Identificación</ion-label>
                    </div>
                  </ion-col>
                  <!-- tipo y identificacion -->
                  <ion-col size="12" class="itemsInputs px-0">
                    <ion-row>
                      <ion-col size="3">
                        <ion-select
                          class="styleInput"
                          interface="action-sheet"
                          [(ngModel)]="objectSignIn.tipoDocumento"
                        >
                          <ion-select-option
                            *ngFor="let item of listTipoIdentificacion"
                            [value]="item.id"
                            >{{item.label}} - {{item.text}}</ion-select-option
                          >
                        </ion-select>
                      </ion-col>
                      <ion-col size="9">
                        <ion-input
                          placeholder="Número"
                          class="styleInput"
                          inputmode="numeric"
                          [ngClass]="{'styleInputInvalido': objectError.documento || (objectSignIn.isInvalido && !objectSignIn.documento)}"
                          [(ngModel)]="objectSignIn.documento"
                          (ionChange)="changeValidarFormato($event)"
                        ></ion-input>
                        <ion-label
                          color="danger"
                          class="styleInvalido"
                          *ngIf="objectError.documento || (objectSignIn.isInvalido && !objectSignIn.documento)"
                          >{{objectError.documento || 'Ingresa la información
                          solicitada'}}</ion-label
                        >
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
              <!-- input clave -->
              <ion-col size="12" class="containerInput">
                <ion-row>
                  <!-- icono & recordar -->
                  <ion-col size="12" class="containerIconLabel">
                    <div class="Iconlabel">
                      <ion-icon name="lock-open-outline"></ion-icon>
                      <ion-label class="fw-bold ms-2">Clave segura</ion-label>
                    </div>
                    <!-- <ion-label color="primary" class="olvidarClave"
                      >Olvidé mi clave</ion-label
                    > -->
                  </ion-col>
                  <!-- tipo y identificacion -->
                  <ion-col size="12" class="itemsInputs px-0">
                    <ion-input
                      class="styleInput"
                      [type]="!objectSignIn.showPassword ? 'password':'text'"
                      [ngClass]="{'styleInputInvalido':objectSignIn.isInvalido && !objectSignIn.password}"
                      [(ngModel)]="objectSignIn.password"
                    ></ion-input>
                    <ion-icon
                      [name]="!objectSignIn.showPassword ? 'eye-outline':'eye-off-outline'"
                      class="verClave"
                      (click)="objectSignIn.showPassword = !objectSignIn.showPassword"
                    ></ion-icon>
                    <ion-label
                      color="danger"
                      class="styleInvalido"
                      *ngIf="objectSignIn.isInvalido && !objectSignIn.password"
                      >Ingresa la información solicitada</ion-label
                    >
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- boton ingreso -->
          <ion-col size="12" class="mt-2">
            <ion-button
              (click)="onIniciarSesion(objectSignIn)"
              expand="block"
              shape="round"
            >
              Ingresar ahora
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- slider ayudas y version -->
        <ion-row class="mt-auto containerAyudaVersion">
          <ion-col size="12" class="animate__animated animate__fadeInLeft">
            <ion-slides [options]="slideOpts">
              <ion-slide class="p-1" *ngFor="let item of SliderLogin">
                <ion-card
                  class="itemCard p-2 shadow-sm"
                  (click)="item.blank ? onNavegacionCard(item):item.onPress()"
                >
                  <ion-icon [name]="item.icono" class="mb-2"></ion-icon>
                  <ion-label>{{item.titulo}}</ion-label>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="12" class="version">
            <ion-label>V 1.0.0</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
