.containerDetalle {
  .containerInformacion {
    height: 180px;
    background: var(--ion-color-secondary);
    color: white;

    .containerSaldo {
      display: flex;
      flex-direction: column;

      .subtitulo {
        font-size: 14px;
      }

      .titulo {
        font-size: 25px;
      }
    }

    .inputAlias {
      ion-input {
        // border: 1px solid;
        // border-radius: 5px;
        height: 30px;
      }
    }

    .btnActualizar {
      height: 24px;
    }
  }
  // --------------------------

  .containerListadoMovimientos {
    margin-top: -40px;

    .rowListadoMovimientos {
      background: white;
      min-height: 63vh;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      align-content: flex-start;

      .acciones {
        .btnAccion {
          .iconStyle {
            font-size: 20px;
          }

          .titulo {
            color: var(--ion-color-dark);
            font-weight: normal;
          }
        }
      }

      //   listado
      .containerListado {
        // separador

        .separadorFecha {
          background: var(--ion-color-medium);
          font-size: 14px;
          color: var(--ion-color-dark);
          font-weight: bold;
        }

        // movimientos
        .listadoMovim {
          .containerDia {
            font-size: 20px;
            border-left: 5px solid var(--ion-color-primary);
            color: var(--ion-color-primary);
            height: 30px;
            display: flex;
            align-items: center;
          }

          .informacion {
            color: var(--ion-color-dark);
            .titulo {
              font-size: 14px;
            }

            .valor {
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
