<headerComp [btnBack]="true"></headerComp>

<ion-content>
  <ion-grid fixed class="p-0 containerDetalle">
    <ion-row>
      <ion-col size="12" class="containerInformacion">
        <ion-row class="h-100 pb-5">
          <ion-col size="8" class="d-flex flex-column">
            <div class="d-flex align-items-center infoStyle">
              <ion-icon [name]="objectDetalle.icono" class="me-2"></ion-icon>
              <ion-label>{{objectDetalle?.cuenta || ''}}</ion-label>
            </div>

            <div class="containerSaldo mt-auto">
              <ion-label class="subtitulo">Saldo Disponible</ion-label>
              <ion-label class="titulo"
                >$ {{objectDetalle.saldo || 0 | number}}</ion-label
              >
            </div>
          </ion-col>
          <ion-col size="4" class="d-flex flex-column">
            <ion-label>No. {{objectDetalle?.n_cuenta || ''}}</ion-label>
            <div class="inputAlias mt-auto">
              <ion-input
                type="text"
                class="mt-auto"
                (ionChange)="changeActualizarAlias($event)"
                [(ngModel)]="alias"
                disabled
              ></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="containerListadoMovimientos px-3">
        <ion-row class="rowListadoMovimientos shadow-sm d-flex">
          <!-- acciones -->
          <ion-col size="12" class="acciones d-flex justify-content-center">
            <!-- <ion-button (click)="onClick()" fill="clear" class="w-50">
              <div class="d-flex flex-column align-items-center btnAccion">
                <ion-icon
                  name="swap-horizontal-outline"
                  class="iconStyle mb-1"
                ></ion-icon>
                <ion-label class="titulo">Transferir</ion-label>
              </div>
            </ion-button> -->

            <ion-button (click)="onGenerarQr()" fill="clear" class="w-50">
              <div class="d-flex flex-column align-items-center btnAccion">
                <ion-icon
                  name="qr-code-outline"
                  class="iconStyle mb-1"
                ></ion-icon>
                <ion-label class="titulo">Generar Qr</ion-label>
              </div>
            </ion-button>
          </ion-col>

          <!-- listado  -->
          <ion-col
            size="12"
            class="containerListado p-0"
            *ngFor="let item of objectTrasferencias"
          >
            <ion-row>
              <!-- separador fecha -->
              <!-- <ion-col size="12" class="separadorFecha p-2">
                <ion-label>Noviembre / 2021</ion-label>
              </ion-col> -->
              <!-- items -->
              <ion-col size="12" class="p-0 listadoMovim py-3 pe-2">
                <ion-row>
                  <ion-col size="1" class="containerDia">
                    <ion-label>{{item.id}}</ion-label>
                  </ion-col>
                  <ion-col
                    size="11"
                    class="informacion d-flex flex-column border-bottom"
                  >
                    <ion-label class="titulo mb-2"
                      >{{item.id_destino == objectDetalle.id ? 'Ingreso de
                      dinero':'Trasferencia de dinero'}}</ion-label
                    >
                    <ion-label
                      class="valor"
                      [ngClass]="{'text-success': item.id_destino == objectDetalle.id}"
                      >{{item.id_destino == objectDetalle.id ?
                      '+':'-'}}${{item.valorTraf || 0 | number}}</ion-label
                    >
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
