<headerComp
  [btnBack]="true"
  [titulo]="'Trasferencias '+cuenta"
  [btnTrasferencia]="cuenta"
></headerComp>

<ion-content>
  <ion-grid fixed class="containerTrasferencias px-3 py-2">
    <ion-row>
      <ion-col
        size="12"
        *ngFor="let item of transferenciasService?.objectListTasferencias || []"
      >
        <transferenciasCardComp [informacion]="item"></transferenciasCardComp>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
