<div
  class="p-0 itemCuenta shadow-sm mb-2 p-2"
  [ngStyle]="{
    'border-left': '2px solid ' + informacion?.borderColor || '#000000'
  }"
>
  <ion-row>
    <ion-col size="12" class="tipoCuenta justify-content-between">
      <div class="d-flex align-items-center">
        <ion-icon [name]="informacion.icono" class="styleIcon me-2"></ion-icon>
        <ion-label class="titulo">{{ informacion.cuenta }}</ion-label>
      </div>
      <ion-label>{{ informacion?.alias || "" }}</ion-label>
    </ion-col>
    <ion-col size="12" class="numeroCuenta py-0">
      <ion-label class="numeroC">No. {{ informacion?.n_cuenta }}</ion-label>
    </ion-col>
    <ion-col size="12" class="SaldoCuenta">
      <ion-label class="subtitulo">Saldo disponible</ion-label>
      <ion-label class="valor">
        $ {{ informacion?.saldo || 0 | number }}
        <span class="moneda">{{ informacion?.dim || "" }}</span>
      </ion-label>
    </ion-col>
  </ion-row>
</div>
