.itemCuenta {
  background: white;
  min-height: 100px;
  border-radius: 5px;
  color: var(--ion-color-dark);

  .tipoCuenta {
    display: flex;
    align-items: center;
  }

  .numeroCuenta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .numeroC {
      font-size: 14px;
    }

    ion-progress-bar {
      border-radius: 10px;
    }
  }

  .SaldoCuenta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subtitulo {
      font-size: 12px;
    }

    .valor {
      font-size: 22px;

      .moneda{
        font-size: 10px;
      }
    }
  }
}
