/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.backdrop-no-scroll,
.swal2-shown {
  ion-router-outlet {
    filter: blur(2px);
  }
}

.show-modal {
  ion-content,
  ion-header {
    filter: blur(0px) !important;
  }
}

.action-sheet-group-cancel {
  display: none;
}

.action-sheet-group {
  min-height: 52px;
  max-height: 160px;
}

ion-button {
  text-transform: initial;
  font-weight: bold;
  min-height: 46px;
}

ion-grid {
  width: 100%;
}

ion-content {
  --background: var(--ion-color-medium);
}

.loading-wrapper {
  border-radius: 10px !important;
  flex-direction: column;

  .loading-content {
    margin: 0;
  }
}

.swal2-container {
  position: relative !important;
  height: 100vh !important;
}

.containerInput {
  .Iconlabel {
    align-items: center;
    display: flex;
  }
  .itemsInputs {
    .styleInput {
      background: white;
      border-radius: 8px;
      border: 1px solid gainsboro;
      min-height: 44px;
      color: var(--ion-color-dark);
      --padding-start: 12px;
    }

    .styleInputInvalido {
      background: var(--ion-color-danger-tint);
      border: 1px solid var(--ion-color-danger);
    }

    .styleInvalido {
      font-size: 12px;
    }

    .verClave {
      position: absolute;
      top: 18px;
      z-index: 2;
      right: 8px;
      font-size: 20px;
    }
  }
}
