<div
  class="p-0 itemCuenta shadow-sm mb-2 p-2"
  [ngStyle]="{
    'border-left': '2px solid ' + (informacion?.border || '#000000')
  }"
>
  <ion-row>
    <ion-col size="12" class="numeroCuenta py-0">
      <ion-label class="numeroC"> No. {{ informacion?.id || 0 }} </ion-label>
    </ion-col>
    <ion-col size="12" class="tipoCuenta">
      <div class="origenDestino">
        <ion-label class="subtitulo">Origen</ion-label>
        <ion-label class="fw-bold">{{
          informacion?.aliasOrigen || ""
        }}</ion-label>
      </div>
      <div class="origenDestino">
        <ion-label class="subtitulo">Destino</ion-label>
        <ion-label class="fw-bold">{{
          informacion?.aliasDestino || ""
        }}</ion-label>
      </div>
    </ion-col>

    <ion-col size="12" class="SaldoCuenta">
      <ion-label class="subtitulo">Saldo transferido</ion-label>
      <ion-label class="valor">
        $ {{ informacion?.valorTraf || 0 | number }}
        <span class="moneda">{{ informacion?.dim || "" }}</span>
      </ion-label>
    </ion-col>

    <ion-col size="12" class="containerDescripcion">
      <ion-label class="titulo">descripción</ion-label>
      <ion-label class="subtitulo">{{
        informacion?.descripcion || ""
      }}</ion-label>
    </ion-col>
  </ion-row>
</div>
